 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width,
        initial-scale=1.0">
    <title>Employee Details</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/popper.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    {% include "ajax.html" %}
</head>

<body>

    <div class="container mt-5">
        <h2 class="text-center alter alter-danger"> Employee Delatils </h2>

        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center alert alert-info">Add New Employee</h4>
                <form action="" method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="empid" id="empid" /> {{form.as_p}}

                    <input type="button" class="btn btn-success" id="btnsave" value="save" />
                </form>

            </div>
            <div class="col-sm-7">
                <h4 class="text-center alert alert-info">Show Employee Details</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Skill</th>
                            <th scope="col">Roll</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        {% for e in em %}
                        <tr>
                            <td>{{e.id}}</td>
                            <td>{{e.name}}</td>
                            <td>{{e.email}}</td>
                            {%for skill in e.skill.all %}
                            <td>{{ skill }}</td>{% endfor %}
                            <td>{{e.roll}}</td>
                            <td>
                                <input type="button" data-sid="{{e.id}}" class="btn btn-warning btn-sm btn-edit" value="Edit" />
                                <input type="button" data-sid="{{e.id}}" class="btn btn-danger btn-sm btn-del" value="Delete" />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</body>

</html>